@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    background-color: whitesmoke;
}

header {
    background-color: white;
}

button {
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: whitesmoke;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    width: 95%;
    margin: auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.nav button {
    font-family: inherit;
}

.create-card-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.create-card-container textarea {
    width: 100%;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}

.create-card-container h2 {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 0 10px;
}

.card {
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: relative;
}

.card .card-question {
    border-top: 1px solid red;
    padding: 15px;
    margin-top: 30px;
}

.card .card-answer {
    text-align: center;
    color: red;
}

.card .card-delete {
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;
}

.card h2 {
    font-size: 1rem;
}

@media(max-width: 770px) {
    .card {
        margin: 10px auto;
    }
}

@media(max-width: 480px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }
    
    .create-card, .card {
        width: 100%;
    }
}